* {
  font-family: "Roboto", sans-serif;
}

.nav-bg {
  background-color: #28a745;
}

.nav-logo {
  height: 2em;
  padding-left: 1.5em;
}

.section-bg {
  background-color: #28a745;
}

.cuppon-border {
  border-top: 1px solid #bbb;
  text-align: end;
}

.custom-card {
  cursor: pointer;
}

.card-normalprice {
  color: #f00000;
  text-decoration: line-through;
}

.card-offerprice {
  color: #28a745;
  font-size: 1.2em;
  padding-left: 1em;
  font-weight: 900;
}

.card-normalprice,
.card-offerprice {
  display: inline;
}

.text-form {
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 1.2em;
  line-height: 100px;
}

.container-footer {
  text-align: center;
}

.custom-input {
  width: 90%;
}

.logo-footer {
  width: 7em;
  padding-top: 1em;
}
