body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.h1custom {
  text-shadow: 3px 3px #000;
}

.buttomcustom a {
  text-decoration: none;
  color: #fff;
}

.h5custom {
  color: #0d6efd;
  font-size: 1.2em;
  font-weight: 900;
  position: relative;
  bottom: 380px;
}

.logo-text {
  font-size: 1.5em;
  font-weight: 900;
  text-shadow: 2px 2px #000;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}